{{outlet}}

<h1>Games</h1>

<h2>{{ model.date }}</h2>
<h3>{{ model.status }}</h3>
<p>{{ model.homeTeam.name }}</p>
<p>{{ model.homeTeam.score }}</p>
vs
<p>{{ model.awayTeam.name }}</p>
<p>{{ model.awayTeam.score }}</p>

